*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.container{
    max-width: 1300px;
    padding: 0 2%;
    margin: 0 auto;
}

div.logo img{
    width: 150px;
    margin: 20px;
}

section form{
    padding: 60px;
    color: white;
    width: 445px;
    height: 760px;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    border-radius: 5px;
}

form h2{
    margin-bottom: 12px;
    font-size: 30px;
}

form input.box{
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin: 15px 0;
    background-color: rgba(25, 25, 25, 0.7);
    border: 1px solid #ccc;
}

form input.box[type=button]{
    font-weight: bold;
    background-color: rgb(218, 8, 8);
    padding: 12px;
    cursor: pointer;
    border: 0;
}

form input.box[type=button]:hover{
    background: rgb(156, 3, 3);
    transition: 0.3s;
}

form h4{
    text-align: center;
    font-weight: normal;
    color: #ccc;
}

form input.b2[type=button]{
    background-color: rgba(85, 84, 84, 0.6);
}

form input.b2[type=button]:hover{
    background-color: rgba(55, 55, 55, 0.6);
}

form input[type=checkbox]{
    cursor: pointer;
}

form p{
    text-align: center;
    padding: 25px;
}

form p:hover{
    color: #ccc;
    cursor: pointer;
    text-decoration: underline;
}

footer{
    width: 100%;
    height: 260px;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.6);  
}

footer ul{
    display: flex;
    list-style-type: none;
}

footer ul li{
    margin: 90px;
}

footer a{
    color: #ccc;
    font-size: 14px;
}

footer a:hover{
    color: #909090;
}

@media screen and (max-width: 1250px){
    footer ul{
        display: block;
        text-align: center;
        position: relative;
        top: 20px;
    }

    footer ul li{
        margin: 50px;
    }
}

@media screen and (max-width: 768px){
    div.logo img{
        width: 90px;
        margin: 20px;
    }

}

@media screen and (max-width: 600px){
    body{
        background-image: none;
        background-color: black;
    }

    section form{
        width: 100%;
        height: auto;
    }

    footer{
        border-top: 1px solid #333;
    }

    footer ul li{
        margin: 30px;
    }

    
}